<h1>All our Instructors:</h1>

<%= form_for(@instances.sample, url: new_instructor_path, method: :get) do |f| %>
  <%= f.submit "Create New"%>
<% end %>
<ul>
<%@instances.each { |instance|%>
  <li> <%= link_to  instance.name, instructor_path(instance) %> </li>
<%}%>
</ul>
